<div class="container">
    <div ng-controller="CacheSampleController" style="padding:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="key">Key: </label>
                    <input class="form-control" id="key" type="text" ng-model="key" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="value">Value: </label>
                    <input class="form-control" id="value" type="text" ng-model="value" />
                    <button type="button" class="btn btn-primary" ng-click="addToCache(key, value)">Add to Cache</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="read">Read: </label>
                    <input class="form-control" id="read" type="text" ng-model="keyToRead" />
                    <h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
                    <h3>Cache Stats: {{getCacheStats()}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
