<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <Title>Event Registration</Title>
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/css/app.css">
</head>
<body ng-cloak>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/EventDetails.html">Home</a></li>
                    <li><a href="/NewEvent.html">Add Event</a></li>
                    <li><a href="/EditProfile.html">Edit Profile</a></li>
                    <li><a href="/CacheSample.html">Cache Sample</a></li>
                    <li><a href="/CompileSample.html">Compile Sample</a></li>
                    <li><a href="/LocaleSample.html">Locale Sample</a></li>
                    <li><a href="/FilterSample.html">Filter Sample</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div ng-controller="CacheSampleController" style="padding:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="key">Key: </label>
                    <input class="form-control" id="key" type="text" ng-model="key" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="value">Value: </label>
                    <input class="form-control" id="value" type="text" ng-model="value" />
                    <button type="button" class="btn btn-primary" ng-click="addToCache(key, value)">Add to Cache</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="read">Read: </label>
                    <input class="form-control" id="read" type="text" ng-model="keyToRead" />
                    <h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
                    <h3>Cache Stats: {{getCacheStats()}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Include Libraries-->
<script src="/lib/js/jquery-1.11.3.min.js"></script>
<script src="/lib/js/underscore-1.4.4.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-sanitize.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/CacheSampleController.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/services/EventData.js"></script>
</body>
</html>