<div style="padding:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label for="name">Name: </label>
                <input class="form-control" id="name" type="text" ng-model="name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="appendHere">
                <label for="markup">Markup: </label>
                <input class="form-control" id="markup" type="text" ng-model="markup" />
                <button type="button" class="btn btn-primary" ng-click="appendDivToElement(markup)">Append</button>
            </div>
        </div>
    </div>
</div>